<PLUGIN name="RadioReady LUFS Meter" descriptiveName="RadioReady LUFS Meter" format="VST" category="Effect" manufacturer="RadioReady Audio" version="1.0.0" file="/sdcard/vst/radioready_lufs.so" uid="52524c4d" isInstrument="0" fileTime="0" infoUpdateTime="0" numInputs="2" numOutputs="2" isShell="0"/>
