<PLUGIN name="Marcus Price Jr Radio Ready EQ" descriptiveName="Marcus Price Jr Radio Ready EQ" format="VST" category="Effect" manufacturer="Marcus Price Jr" version="1.0.1" file="/sdcard/vst/radioreadyeq.so" uid="4d505252" isInstrument="0" fileTime="0" infoUpdateTime="0" numInputs="2" numOutputs="2" isShell="0"/>
